:root {
    --font-family: "Inter", sans-serif;
    --primary-orange: hsl(35, 77%, 62%);
    --primary-red: hsl(5, 85%, 63%);
    --neutral-white: hsl(36, 100%, 99%);
    --neutral-grayish-blue: hsl(233, 8%, 79%);
    --neutral-dark-grayish: hsl(236, 13%, 42%);
    --neutral-dark-blue: hsl(240, 100%, 5%);
}

main {
    max-width: 1200px;
    margin: 70px auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar img {
    cursor: pointer;
}

.navbar ul {
    display: flex;
    gap: 15px;
}

.item {
    color: var(--neutral-dark-grayish);
    list-style-type: none;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 14px;
    cursor: pointer;
}
